<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Habitaciones</title>
</head>
<body>

    <h1>Reserva una Habitación ahora yaa</h1>

    <!-- Verificar si hay habitaciones -->
    {% if habitaciones %}
        <ul>
            {% for habitacion in habitaciones %}
                <li>
                    <h3>{{ habitacion.nombre }}</h3>
                    <p>Descripción: {{ habitacion.descripcion }}</p>
                    <p>Precio: ${{ habitacion.precio }}</p>
                    <p>Capacidad: {{ habitacion.capacidad }} personas</p>
                    
                    <!-- Formulario para reservar la habitación -->
                    
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="habitacion_id" value="{{ habitacion.id }}">
                        <button type="submit">Reservar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay habitaciones disponibles.</p>
    {% endif %}

    <!-- Botón que redirige a la página de inicio -->
    <a href="{% url 'home' %}">
        <button type="button">Volver al Inicio</button>
    </a>

</body>
</html>
